
@import "general.css"

.card {
    height: 50vh;
}

a {
    text-align: none;
}

#team {
    height: 47vh;
}

#new-member{
    margin-left: 80%;
    background-color: red !important;
    padding-left: 1em;
    padding-right: 1em;
}
