@import "general.css"

.card {
    height: 50vh;
}

a {
    text-align: none;
}

#team {
    height: 47vh;
}


#new-member{
    margin-left: 80%;
    background-color: red !important;
    padding-left: 1em;
    padding-right: 1em;
}

div {
    align-items: center;
    justify-content: center;
    padding: none;
    
}

<<<<<<< HEAD
<<<<<<< HEAD
=======
>>>>>>> 56ed1f812865fdbb62862f691a7633c448617fbd
#logo {
    width: 30px;
    height: 30px; 
}
<<<<<<< HEAD
=======
>>>>>>> 885943d62b8b8c8b62e0e6abf202b84e50998371
=======
>>>>>>> 56ed1f812865fdbb62862f691a7633c448617fbd
