
@import "general.css"

.card {
    height: 50vh;
}

a {
    text-align: none;
}

#team {
    height: 47vh;
}

div {
    align-items: center;
    justify-content: center;
    padding: none;
    
}

#logo {
    width: 30px;
    height: 30px; 
}