@import "general.css"

.card {
    height: 50vh;
}

a {
    text-align: none;
}

#team {
    height: 47vh;
}


#new-member{
    margin-left: 80%;
    background-color: red !important;
    padding-left: 1em;
    padding-right: 1em;
}

div {
    align-items: center;
    justify-content: center;
    padding: none;
}

div.card-reveal {
    padding: 0;
}


#logo {
    width: 30px;
    height: 30px;
}
