<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../css/assets/materialize.min.css">
    <link rel="stylesheet" href="../Css/depsstyle.css">
    <title>Pop Power</title>
</head>

<body>
    <h1 class="center-align col s8">.pop(Power)</h1>
    <!-- End Page Loading -->
    <section id='header'>
        <nav class="nav-extended">
            <div class="nav-content center-align">
                <span class="nav-title">Departments</span>
            </div>
        </nav>
        <ul class="collection">
            <li class="collection-item avatar" id='headercollection'>
                <img src="images/yuna.jpg" alt="" class="circle">
                <span class="title" id='colorletter'>Sophie Contreras</span>
                <p id='colorletter'> Web Developer <br> Proyect: Shape.
                </p>
            </li>
        </ul>
    </section>
    <section id="main" class="row">
        <div class="card col s3">
            <div class="card-image waves-effect waves-block waves-light">
                <img class="activator" src="../assets/images/mkt.png">
            </div>
            <div class="card-content">
                <span class="card-title activator grey-text text-darken-4">Marketing<i class="material-icons right">more...</i></span>
                <p><a href="#">Open...</a></p>
            </div>
            <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">Marketing<i class="material-icons right">close</i></span>
                <p>The Marketing Department plays a vital role in promoting the business and mission of an organization. It serves as the face of your company, coordinating and producing all materials representing the business. </p>
            </div>
        </div>
        <div class="card col s3">
            <div class="card-image waves-effect waves-block waves-light">
                <img class="activator" src="../assets/images/fin.png">
            </div>
            <div class="card-content">
                <span class="card-title activator grey-text text-darken-4">Finance<i class="material-icons right">more...</i></span>
                <p><a href="#">Open...</a></p>
            </div>
            <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">Finance<i class="material-icons right">close</i></span>
                <p>The part of an organization that manages its money.</p>
            </div>
        </div>
        <div class="card col s3">
            <div class="card-image waves-effect waves-block waves-light">
                <img class="activator" src="../assets/images/ope.png">
            </div>
            <div class="card-content">
                <span class="card-title activator grey-text text-darken-4">Operations<i class="material-icons right">more...</i></span>
                <p><a href="area.html">Open...</a></p>
            </div>
            <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">Operations<i class="material-icons right">close</i></span>
                <p>The operations department of a company is responsible for smooth and profitable production. If your operations department is running tightly, your company will produce what it needs to produce when it needs to produce it – and without
                    undue stress or backtracking.</p>
            </div>
        </div>
        <div class="card col s3">
            <div class="card-image waves-effect waves-block waves-light">
                <img class="activator" src="../assets/images/rh.png">
            </div>
            <div class="card-content">
                <span class="card-title activator grey-text text-darken-4">RH<i class="material-icons right">more...</i></span>
                <p><a href="#">Open...</a></p>
            </div>
            <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">RH<i class="material-icons right">close</i></span>
                <p>Performs human resource management, overseeing various aspects of employment, such as compliance with labour law and employment standards, administration of employee benefits, and some aspects of recruitment and dismissal.</p>
            </div>
        </div>


    </section>

    <script src="../js/assets/jquery.min.js"></script>
    <script src="../js/assets/materialize.min.js"></script>
</body>

</html>
