<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../css/assets/materialize.min.css">
    <link rel="stylesheet" href="../Css/depsstyle.css">
    <title>Pop Power</title>
</head>

<body>
    <section id='header'>
        <ul class="collection">
            <li class="collection-item avatar" id='headercollection'>
                <img src="images/yuna.jpg" alt="" class="circle">
                <span class="title" id='colorletter'>Sophie Contreras</span>
                <p id='colorletter'> Seller <br> Proyect: Shape
                </p>
                <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
            </li>
        </ul>
    </section>
    <section id="main" class="row">
        <div class="card col s3">
            <div  class="card-image waves-effect waves-block waves-light">
                <img class="activator" src="../assets/images/mkt.png">
            </div>
            <div class="card-content">
                <span class="card-title activator grey-text text-darken-4">Marketing<i class="material-icons right">more...</i></span>
                <p><a href="#">This is a link</a></p>
            </div>
            <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">Marketing<i class="material-icons right">close</i></span>
                <p>Here is some more information about this product that is only revealed once clicked on.</p>
            </div>
        </div>
        <div class="card col s3">
            <div  class="card-image waves-effect waves-block waves-light">
                <img class="activator" src="../assets/images/fin.png">
            </div>
            <div class="card-content">
                <span class="card-title activator grey-text text-darken-4">Finance<i class="material-icons right">more_vert</i></span>
                <p><a href="#">This is a link</a></p>
            </div>
            <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">Finance<i class="material-icons right">close</i></span>
                <p>Here is some more information about this product that is only revealed once clicked on.</p>
            </div>
        </div>
        <div class="card col s3">
            <div  class="card-image waves-effect waves-block waves-light">
                <img class="activator" src="../assets/images/ope.png">
            </div>
            <div class="card-content">
                <span class="card-title activator grey-text text-darken-4">Operations<i class="material-icons right">more_vert</i></span>
                <p><a href="#">This is a link</a></p>
            </div>
            <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">Operations<i class="material-icons right">close</i></span>
                <p>Here is some more information about this product that is only revealed once clicked on.</p>
            </div>
        </div>
            <div class="card col s3">
            <div  class="card-image waves-effect waves-block waves-light">
                <img class="activator" src="../assets/images/rh.png">
            </div>
            <div class="card-content">
                <span class="card-title activator grey-text text-darken-4">RH<i class="material-icons right">more_vert</i></span>
                <p><a href="#">This is a link</a></p>
            </div>
            <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">RH<i class="material-icons right">close</i></span>
                <p>Here is some more information about this product that is only revealed once clicked on.</p>
            </div>
        </div>


    </section>

    <script src="../js/assets/jquery.min.js"></script>
    <script src="../js/assets/materialize.min.js"></script>
</body>

</html>
