<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="../css/assets/materialize.min.css">
    <link rel="stylesheet" href="../css/team.css">
    <title>team</title>
</head>
<body>
    <div class="container-fluid">
        <h2 id="area-title">__Area_Name__</h2>
        <main class="container">
            <section class="row">
                <section class="section col s4">
                    <h5>Manager</h5>
                </section>
                <section class="section col s4">
                    <h5>Team</h5>
                    <p>Stuff</p>
                </section>
                <section class="section col s4">
                    <h5>Do your question here</h5>
                    <p>Stuff</p>
                </section>                        
            </section>
        </main>        
    </div>
    <script src="../js/assets/jquery.min.js"></script>
    <script src="../js/assets/materialize.min.js"></script>  
</body>
</html>