<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="../css/assets/materialize.min.css">
    <link rel="stylesheet" href="../css/team.css">
    <title>team</title>
</head>

<body>
    <div class="col s6">
        <h1><img id="logo" src="../assets/images/hackaton logofinished .png" alt="logo">pop(Power)</h1>
    </div>
    <!-- End Page Loading -->
    <div class="container-fluid">
        <h2 id="area-title">Proyecto</h2>

        <nav>
            <div>
                <a href="form.html" class="waves-effect waves-light btn-small" id='new-member'>Add New Member ( + )</a>
        </nav>

        <!-- <nav>
            <div><a class="right" href="sass.html"></a><i class="material-icons">search</i></a></div>
        </nav> -->
        <div class="row">
            <form class="col s12" id="search-form">
                <div class="row">
                    <div class="input-field col s12">
                        <div class="input-field inline col s8">
                            <i class="material-icons prefix ">search</i>
                            <input id="search-user-input" type="text">
                            <label for="search-user-input">are you searching a team member?</label>
                        </div>                
                    </div>
                </div>
            </form>
        </div>

        <main class="container">
            <section class="row">
                <section id="manager" class="section col s4">
                    <h5>Manager</h5>
                        <div class="card">
                        <div class="card-image waves-effect waves-block waves-light activator">
                        <img class="activator" src="https://dummyimage.com/200x200">
                        </div>
                        <div class="card-content">
                            <span class="card-title activator grey-text text-darken-4">Sophia Martínez<i class="material-icons right">more_vert</i></span>
                            <p> Position </p>
                            <p> Location </p>
                            <p><a href="#">@slack</a></p>
                        </div>
                        <div class="card-reveal">
                            <img src="https://dummyimage.com/200x200">
                            <span class="card-title grey-text text-darken">Sophia Martínez<i class="material-icons right">close</i></span>
                            <div>
                                <div class="col s12">
                                    <div>
                                        <p class="e8f5e9 green lighten-5">Contact</p>
                                        <a href="https://outlook.live.com">Mail</a>
                                        <br>
                                        <a href="https://claseslaboratoria.slack.com/team/U480T292N">Slack</a>
                                    </div>
                                    <br>
                                    <div>
                                        <span class="e8f5e9 green lighten-5"> Duties.</span>
                                        <p>Lorem ipsum. <br>Lorem ipsum.</p>
                                        <span class="e8f5e9 green lighten-5">Projects.</span>
                                        <p>Lorem ipsum <br> Lorem ipsum<br> Lorem ipsum</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                </section>

                <section id="team">

                    <h5> Team </h5>

                </section>

                <section class="section col s4">
                    <h5>Do your question here</h5>
                    <div class="row">
                        <form class="col s12" id="question-form">
                            <div class="row">
                                <div class="input-field col s12">
                                    <textarea class="materialize-textarea" id="question" type="text" placeholder="Question to the team" ></textarea>
                                </div>
                                <button class="btn waves-effect waves-light btn-small col s5" id="submit-button">
                                    Post Question
                                    <i class="material-icons">send</i>
                                </button>
                            </div>
                        </form>
                    </div>
                    <div class="row" id="ideas">
                        <section id="team-questions" class="col s12 collection"></section>
                    </div>
                </section>
            </section>
        </main>
    </div>
    <script src="../js/assets/jquery.min.js"></script>
    <script src="../js/assets/materialize.min.js"></script>
    <script src="https://www.gstatic.com/firebasejs/5.0.4/firebase.js"></script>
    <script src="../js/team.js"></script>
    <script src="../js/form.js"></script>
</body>

</html>
