<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="../css/assets/materialize.min.css">
    <link rel="stylesheet" href="../css/team.css">
    <title>team</title>
</head>

<body>
    <div class="container-fluid">
        <h2 id="area-title">__Area_Name__</h2>
        <main class="container">
            <section class="row">
                <section class="section col s4">
                    <h5>Manager</h5>
                    <div class="card">
                        <div  class="card-image waves-effect waves-block waves-light activator">
                            <img class="activator" src="ejemplo.jpg">
                        </div>
                        <div class="card-content">
                            <span class="card-title activator grey-text text-darken-4">Pedro Martínez<i class="material-icons right">more_vert</i></span>
                            <p><a href="#">This is a link Slack</a></p>
                        </div>
                        <div class="card-reveal">
                            <span class="card-title grey-text text-darken-4">Pedro Martínez<i class="material-icons right">close</i></span>
                            <p>Contemplar la gestión integral desde la etapa del diseño del data center. <br> Monitorear los
                                equipos de infraestructura y TI. <br> Ejecutar procesos integrados que permitan el monitoreo
                                y administración del data center.</p>
                        </div>
                    </div>
                </section>
                <section class="section col s4">
                    <h5>Team</h5>
                    <div class="card">
                        <div class="card-image waves-effect waves-block waves-light activator">
                            <img class="activator" src="ejemplo.jpg">
                        </div>
                        <div class="card-content">
                            <span class="card-title activator grey-text text-darken-4">Stuff<i class="material-icons right">more_vert</i></span>
                            <p><a href="#">This is a link</a></p>
                        </div>
                        <div class="card-reveal">
                            <span class="card-title grey-text text-darken-4">Team<i class="material-icons right">close</i></span>
                            <p>Procesamiento de textos, gestión de base de datos y el diseño en tres dimensiones</p>
                        </div>
                    </div>
                </section>
                <section class="section col s4">
                    <h5>Do your question here</h5>
                    <p>Stuff</p>
                </section>
            </section>
        </main>
    </div>
    <script src="../js/assets/jquery.min.js"></script>
    <script src="../js/assets/materialize.min.js"></script>
</body>

</html>